<app-void-button [text]="'primary'" [btnClass]="'primary'"></app-void-button>
<app-void-button [text]="'success'" [btnClass]="'success'"></app-void-button>
<app-void-button [text]="'danger'" [btnClass]="'danger'"></app-void-button>
<app-void-button [text]="'info'" [btnClass]="'info'"></app-void-button>
<app-void-button [text]="'warning'" [btnClass]="'warning'"></app-void-button>
<app-void-button [text]="'black'" [btnClass]="'black'"></app-void-button>

<br><br><br>

<app-void-button [text]="'primary-89'" [btnClass]="'primary-89'"></app-void-button>
